.camposBotao
{	
	margin-right: 10%; margin-left: 10%;
}

.menuSecundario
{
	margin-left: 5%;
	margin-right: 10%
}
.Row
{
    display: table-row;
}

.Cell
{
    display: table-cell;    
    padding-left: 5px;
    padding-right: 5px;
    width: 40%;
}
.retirarButton
{
	cursor:pointer;
	margin-left: 1%;
	color: #d9534f;
}
body
{
	min-height:90%;
	padding-bottom: 30px;
}